@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

ion-header {
  .username-container {
    .toolbar-content {
      min-height: 0;
    }
  }
  ion-toolbar {
    .logo {
      font-family: "Lobster", cursive;
      font-size: 2rem;
    }
  }
}

.tabs {
  --background: var(--ion-color-primary);
  ion-segment {
    --background: var(--ion-color-primary);
    ion-segment-button {
      --border-width: 0;
      --padding-start: 8px !important;
      --padding-bottom: 3px !important;
      --padding-end: 8px !important;
      --padding-top: 3px !important;
      --indicator-color: transparent;
      --color-checked: var(--ion-color-light);
      font-weight: bold;
      border-radius: 22px;
      --background-checked: var(--ion-color-secondary);
    }
  }
}

.chat-list {
  background: var(--ion-color-light);
  margin-top: 5px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .chats {
    margin-top: 16px;
  }
}
