<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" color="primary">
    <ion-title color="secondary"
      ><em><strong>Bossgirl</strong></em></ion-title
    >
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="start" size="small" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar mode="ios" color="primary">
    <ion-title class="logo">bantr</ion-title>
  </ion-toolbar>
  <ion-toolbar mode="ios" class="tabs">
    <ion-segment mode="ios" value="chats" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="chats">
        <ion-label>Chats</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Status">
        <ion-label>Status</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Calls">
        <ion-label>Calls</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="chat-list" *ngIf="activeTab === 'chats'">
    <div class="recent-chats ion-padding">
      <div class="heading">
        <h5>Your Messages</h5>
        <ion-button mode="ios" (click)="search()" color="light">
          <ion-icon
            slot="icon-only"
            size="small"
            name="search-sharp"
          ></ion-icon>
        </ion-button>
      </div>
      <div class="chats">
        <ion-item-sliding>
          <ion-item
            detail="false"
            color="light"
            class="ion-no-padding"
            routerLink="/conversation"
          >
            <ion-label class="ion-text-nowrap"
              ><h2>LDN152</h2>
              <p>typing...</p></ion-label
            >
            <ion-icon name="chatbubbles-sharp" color="warning"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="delete()"
              >Delete</ion-item-option
            >
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item color="light" class="ion-no-padding">
            <ion-label class="ion-text-nowrap"
              ><h2>Ted342</h2>
              <p>Some toher message.....</p></ion-label
            >
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="delete()"
              >Delete</ion-item-option
            >
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item color="light" class="ion-no-padding">
            <ion-label class="ion-text-nowrap"
              ><h2>Ted Lasso</h2>
              <p>typing...</p></ion-label
            >
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="delete()"
              >Delete</ion-item-option
            >
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item color="light" class="ion-no-padding">
            <ion-label class="ion-text-nowrap"
              ><h2>Ted Lasso</h2>
              <p>typing...</p></ion-label
            >
            <ion-icon name="chatbubbles-sharp" color="warning"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="delete()"
              >Delete</ion-item-option
            >
          </ion-item-options>
        </ion-item-sliding>
        <ion-item-sliding>
          <ion-item color="light" class="ion-no-padding">
            <ion-label class="ion-text-nowrap"
              ><h2>Ted Lasso</h2>
              <p>typing...</p></ion-label
            >
            <ion-icon name="chatbubbles-outline"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="delete()"
              >Delete</ion-item-option
            >
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </div>
  </div>
</ion-content>
